body {
  font-family: 'Exo-2', sans-serif;
  color: #e8e3dd;
  background: #383534;
}

a {
  color: #ffd01d;
  text-decoration: none;
}

h1 {
  font-size: 1.750em;
  letter-spacing: .009375em;
}

h2 {
  font-size: 1.500em;
  color: #ffd01d;
}

.btn {
  color: #ffd01d;
  background: #46c2e0;
  padding: 1.8% 3%;
  margin: 40% 0%;
  border-radius: 25px;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #3ca6bf;
}

ul.nav {
  margin: 4% 0 0 0;
  list-style: none;
  float: right;
}

ul.nav li {
  float: left;
  margin-right: 3em;
}

ul.nav li a {
  color: #ffd01d;
}

#intro {
  margin: .1% 0 2.5% 1.5%;
}

#new-cupcakes img {
  border: .5em solid #46c2e0;
  margin: 0 0 4.44% 0;
}

#featured-cupcake img {
  border: .5em solid #46c2e0;
}

#copyright {
  border-top: .5em solid #46c2e0;
  padding: 1% 0px;
  margin: 1.5% 0px;
  text-align: center;
}

#cohort {
  margin: 6.667% 0 6.667% 6.667%;
  max-width: 74%;
}

#selfie {
  max-width: 100%;
  margin: 2% 0 0 0;
  border: .5em solid #46c2e0;
}

.pic {
  max-width: 94%;
  border: .5em solid #46c2e0;
}

#beer_pic {
  max-width: 94%;
}

#red_admiral {
  margin: 2% 0 0 0;
}

#curling {
  margin: 2% 0 2% 0px;
}

@media screen and (max-width: 500px) {
    .grid_1,
    .grid_2,
    .grid_3,
    .grid_4,
    .grid_5,
    .grid_6,
    .grid_7,
    .grid_8,
    .grid_9,
    .grid_10,
    .grid_11,
    .grid_12 {
      width: 100%;
      margin: 0 2% 1% 1%;
      float: left;
      display: block;
      text-align: center;
  }

  ul.nav li {
    margin: 1.4em 1.11em 1.4em 0;
    display:block;
    background: #46c2e0;
    padding: 1.8% 3%;
    border-radius: 25px
  }

  .selfie {
    margin: 0;
  }

  #kitchen {
    display: none;
  }
}

@media screen and (max-width: )